/*************** Custom Properties ******************/

:root{
    --first-color: #d90062;
    --firs-alpha-color: rgba(217,0,98,0.75);
    --second-color: #14192d;
    --second-alphap-color: rgba(20,25,45,0.75);
    --third-color: #501464;
    --third-alpha-color: rgba(80,20,100,0.75);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255,255,255,0.5);
    --black-alpha-color: rgba(0,0,0,0.5);
    --font: "Raleway",sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;
}

/*************** Reset  ******************/

html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
}

a{
    color: var(--link-color);
    transition: all 0.35s ease-out;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
}

a:hover{
    opacity: 0.75;
}

h1{ /*rem unidad relatia - px unidad absoluta --> 1rem = 16px*/
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    line-height: 1.6;
}

/*************** Components  ******************/

/*********** Hero Img  ***********/

.hero-img{
    background-image: var(--hero-img);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--hero-attachment);
}

.hero-img-opacity{
    width: 100%;
    min-height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--hero-opacity-color);
}

.hero-img-title{
    font-size: 7vw;
    color: var(--hero-title-color);
}

/*********** Menu  ***********/

.menu-btn{
    background-color: var(--second-color);
    outline-color: thin solid var(--first-color);
    border: 0;
    cursor: pointer;
}

.menu-btn svg{
    fill: var(--first-color);
}

.menu{
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    background-color: var(--second-color);
    
    display: flex;
    flex-direction: column;
    
    opacity: 0;
    pointer-events: none;  /*Interactividaddelelemento*/
    transition: opacity .5s ease ;
    -webkit-transition: opacity .5s ease ;
    -moz-transition: opacity .5s ease ;
    -ms-transition: opacity .5s ease ;
    -o-transition: opacity .5s ease ;
}

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
}

.menu a{
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: var(--first-color);
}

.menu a:hover{
    color:var(--white-color);
    background-color: var(--first-color);

}

@media only screen and (min-width: 1024px) {
    .menu-btn{
        display: none;
    }

    .menu{
        position: static;
        width: auto;
        opacity: 1;
        pointer-events: auto;
        flex-direction: row;
    }

    .menu a{
        padding: 0 1rem;
    }

    .menu a:last-child{
        padding-right: 0;
    }

    .menu a:hover{
        background-color: transparent;
    }
}

/*********** Progress bar  ***********/
progress{
    width: 100%;
    height: 1rem;
    background-color: var(--gray-color);
}

progress::-webkit-progress-bar{
    background-color: var(--gray-color);
}

progress::-webkit-progress-value{
    background-color: var(--gray-dark-color);
}

progress::-moz-progress-bar{
    background-color: var(--gray-dark-color);
}

.progress{
    margin: 1rem auto;
}

.progress p{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-size: .85rem;
}

/***************  Utilities ******************/

.btn{
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;

    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--first-color);
}

.box-shadow-1{ /*eje x eje y blur color*/
    box-shadow: .25rem .25rem 1rem rgba(0,0,0,0.25);
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.grayscale{
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-alpha-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.none{
    display: none;
}

.section{
    padding: 2rem 1rem;
}

.section-title{
    border-top: thin solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    width: 250px;
    text-align: center;
    color: var(--title-color);
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

@media only screen and (min-width: 1024px) {
    .full-lg-screen{
        width: 100%;
        min-height: 100vh;
    }

    .text-lg-center{
        text-align: center;
    }
    
    .text-lg-left{
        text-align: left;
    }
    
    .text-lg-right{
        text-align: right;
    }
}
/*************** Site Styles  ******************/

.about article{
    margin-bottom: 2rem;
}

.contact-card{
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-card > svg{
    fill: var(--first-color);
    width: 2rem;
    height: 2rem;
}

.contact-card > small{
    padding: -1rem;
}

.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    color: var(--first-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
}

.proyecto-card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;

}

.proyecto-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyecto-card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: var(--firs-alpha-color);
    color: var(--white-color);
    opacity: 0;
    pointer-events: none;
    transition:all 0.5s ease-out;
    -webkit-transition:all 0.5s ease-out;
    -moz-transition:all 0.5s ease-out;
    -ms-transition:all 0.5s ease-out;
    -o-transition:all 0.5s ease-out;
}

.proyecto-card:hover .proyecto-card-info{
    opacity: 1;
    pointer-events: auto;
}

.proyecto-card-info > div{
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: thin solid var(--white-color);
}

.social-media a{
    text-decoration: none;
    padding: 0 .4rem;
}

.social-media svg{
    width: 1.5rem;
    height: 1.5rem;
}

@media only screen and (min-width: 768px) {
    
    .contact-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact-cards aside{
        width: 48%;
    }

    .proyectos .container{
        display: flex;
        flex-wrap: wrap;
    }

    .proyectos .container a{
        width: 50%;
    }

    .proyectos .container .titulo{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
   
    .about{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .about article{
        width: 30%;
        align-items: center;     
    }

    .contact-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact-cards aside{
        width: 24%;
    }

    
    .header{
        position: sticky;
        top: 0;
        padding: .5rem;
        height: calc( var(--header-height) - 0.5rem);
    }

    .proyectos .container a{
        width: 33.33%;
    }
}